.product-detail {
  display: grid;
  grid-template-columns: 55% 45%;
  gap: 20px;
  margin-top: 60px;
  margin-bottom: 50px;
  box-shadow: var(--product_cart_box_shadow);
  padding: 20px;
  border-radius: 18px;
  max-height: 600px;
  position: relative;
  top: 30px;
}
.similar{
  margin-bottom: 20px;
  margin-top: 12px;
}
.detail_product_container {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
.product-gallery {
  display: grid;
  grid-template-columns: 100px 1fr;
  gap: 10px;
}
.product-gallery {
  width: 100%;
  height: auto;
}
.thumbnail img {
  width: 120px;
  height: 120px;
  object-fit: contain;
  cursor: pointer;
  transition: transform 0.2s ease;
}
.main-product img {
  width: 500px;
  height: 500px;
  object-fit: contain;
}
.main-product {
  width: 50%;
  height: auto;
  position: absolute;
  top: 18px;
  left: 155px;
  overflow: hidden;
}

.thumbnail img:hover {
  transform: TranslateX(12px);
}

.choice {
  display: flex;
  gap: 15px;
  margin-top: 10px;
}
.choice button {
  border: none;
  vertical-align: middle;
  background-color: #f5f5f5;
  padding: 8px 18px;
  border-radius: 5px;
  cursor: pointer;
  /* transition: background-color 0.2s ease, color 0.2s ease; */
  color: black;
  font-weight: bold;
  font-size: 13px;
}
.size_choice h1 {
  font-size: 22px;
  margin-bottom: 10px;
}
.choice button:hover {
  border: 1px solid black;
}
.qty h1 {
  font-size: 22px;
  margin-bottom: 10px;
}
.decrease,
.increase {
  padding: 10px 15px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  background-color: #f5f5f5;
  border-radius: 5px;
  font-weight: bold;
}
#quantity_input {
  width: 170px;
  text-align: center;
  padding: 10px 15px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  background-color: #f5f5f5;
  border-radius: 5px;
  font-weight: bold;
}
.pro_title_detail{
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 15px;
}
.btn_add_cart{
    margin-top: 50px;
    width: 100%;
    display: flex;
    
}
.buy_now, .handbag{
      margin-right: 20px;
      border-radius: 10px;
      padding: 10px 35px;
      border: none;
      font-size: 16px;
      font-weight: bold;
      cursor: pointer;

}
.handbag{
    background-color: black;
    color: white;
}
.buy_now{
    background-color: #ff4500;
    color: white;
}
.btn_add_cart button{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-direction: row;
    gap: 10px;
}